winAppSAIC Pensiones/winAppSAIC/Service References/LucasServ/Facturacion33Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Facturacion33Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IFacturacion33Service_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://dev.braunter.mx/lucas/eCommerce/sFacturacion33.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://dev.braunter.mx/lucas/eCommerce/sFacturacion33.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://dev.braunter.mx/lucas/eCommerce/sFacturacion33.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFacturacion33Service_GenerarComprobante_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarComprobante" />
  </wsdl:message>
  <wsdl:message name="IFacturacion33Service_GenerarComprobante_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarComprobanteResponse" />
  </wsdl:message>
  <wsdl:message name="IFacturacion33Service_GenerarComprobanteSellado_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarComprobanteSellado" />
  </wsdl:message>
  <wsdl:message name="IFacturacion33Service_GenerarComprobanteSellado_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarComprobanteSelladoResponse" />
  </wsdl:message>
  <wsdl:portType name="IFacturacion33Service">
    <wsdl:operation name="GenerarComprobante">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacturacion33Service/GenerarComprobante" message="tns:IFacturacion33Service_GenerarComprobante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacturacion33Service/GenerarComprobanteResponse" message="tns:IFacturacion33Service_GenerarComprobante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerarComprobanteSellado">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacturacion33Service/GenerarComprobanteSellado" message="tns:IFacturacion33Service_GenerarComprobanteSellado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacturacion33Service/GenerarComprobanteSelladoResponse" message="tns:IFacturacion33Service_GenerarComprobanteSellado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpsBinding_IFacturacion33Service" type="tns:IFacturacion33Service">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IFacturacion33Service_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarComprobante">
      <soap:operation soapAction="http://tempuri.org/IFacturacion33Service/GenerarComprobante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarComprobanteSellado">
      <soap:operation soapAction="http://tempuri.org/IFacturacion33Service/GenerarComprobanteSellado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Facturacion33Service">
    <wsdl:port name="BasicHttpsBinding_IFacturacion33Service" binding="tns:BasicHttpsBinding_IFacturacion33Service">
      <soap:address location="https://dev.braunter.mx/lucas/eCommerce/sFacturacion33.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>