winAppSAIC Pensiones/winAppSAIC/Service References/LucasServ/sFacturacion331.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="objComprobante33">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtraInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeIncidencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bGenerado" type="xs:boolean" />
      <xs:element minOccurs="0" name="strComprobante" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="objComprobante33" nillable="true" type="tns:objComprobante33" />
</xs:schema>