winAppSAIC Pensiones/winAppSAIC/Service References/LucasServ4/sFacturacion402.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://dev.braunter.mx/lucas/eCommerce/sFacturacion40.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GenerarComprobante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strComprobante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarComprobanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GenerarComprobanteResult" nillable="true" type="q1:objComprobante40" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarComprobanteSellado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strComprobante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarComprobanteSelladoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GenerarComprobanteSelladoResult" nillable="true" type="q2:objComprobante40" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FacturacionCancelar40">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cRfcEmisor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cUuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cRfcReceptor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dMonto" type="xs:decimal" />
        <xs:element minOccurs="0" name="cPublicKeyPem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cPrivateKeyPem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cMotivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cFolioSustitucion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FacturacionCancelar40Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FacturacionCancelar40Result" nillable="true" type="q3:objCancelar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FacturacionCancelar40v02">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cRfcEmisor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cUuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cMotivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cFolioSustitucion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FacturacionCancelar40v02Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FacturacionCancelar40v02Result" nillable="true" type="q4:objCancelar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FacturacionCancelar40v03">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cRfcEmisor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cUuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cMotivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cFolioSustitucion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FacturacionCancelar40v03Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FacturacionCancelar40v03Result" nillable="true" type="q5:objCancelar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FacturacionConsultarEstadoSAT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cRfcEmisor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cUuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cRfcReceptor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dMonto" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FacturacionConsultarEstadoSATResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FacturacionConsultarEstadoSATResult" nillable="true" type="q6:objEstadoSAT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>