winAppSAIC Pensiones/winAppSAIC/Service References/LucasServ4/sFacturacion401.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="objComprobante40">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtraInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeIncidencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bGenerado" type="xs:boolean" />
      <xs:element minOccurs="0" name="strComprobante" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="objComprobante40" nillable="true" type="tns:objComprobante40" />
  <xs:complexType name="objCancelar">
    <xs:sequence>
      <xs:element minOccurs="0" name="cId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fFecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="iCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="objCancelar" nillable="true" type="tns:objCancelar" />
  <xs:complexType name="objEstadoSAT">
    <xs:sequence>
      <xs:element minOccurs="0" name="cCodigoEstatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cDescripcionEstatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cEsCancelable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cEstatusCancelacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="objEstadoSAT" nillable="true" type="tns:objEstadoSAT" />
</xs:schema>