winAppSAIC Pensiones/winAppSAIC/NominaCFDI/Schemas/EFv1_0_nomina_asalariados.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ns1="https://esquemas.enlacefiscal.com/EF/EFv1_0_nomina_asalariados.xsd"
	targetNamespace="https://esquemas.enlacefiscal.com/EF/EFv1_0_nomina_asalariados.xsd"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<element name="Nomina">
		<complexType>
			<sequence>
				<element name="modo" minOccurs="0">
					<simpleType>
						<restriction base="xs:string">
							<enumeration value="debug"/>
							<enumeration value="produccion"/>
						</restriction>
					</simpleType>
				</element>
				<element name="versionEFNomina">
					<simpleType>
						<restriction base="xs:string">
							<enumeration value="1.0"/>
						</restriction>
					</simpleType>
				</element>
				<element name="serieRecibo">
					<simpleType>
						<restriction base="xs:string">
							<minLength value="1"/>
							<maxLength value="10"/>
							<pattern value="NULL|[a-zA-Z]+"/>
							<whiteSpace value="collapse"/>
						</restriction>
					</simpleType>
				</element>
				<element name="folioRecibo">
					<simpleType>
						<restriction base="xs:string">
							<minLength value="1"/>
							<maxLength value="10"/>
							<pattern value="[^0][0-9]*"/>
						</restriction>
					</simpleType>
				</element>
				<element minOccurs="1" name="fechaEmision">
					<simpleType>
						<restriction base="xs:dateTime"/>
					</simpleType>
				</element>
				<element name="nombreDisenio" minOccurs="0">
					<simpleType>
						<restriction base="xs:string"/>
					</simpleType>
				</element>
				<element name="numeroDecimales" minOccurs="0">
					<simpleType>
						<restriction base="xs:decimal">
							<enumeration value="2"/>
							<enumeration value="3"/>
							<enumeration value="4"/>
							<enumeration value="5"/>
							<enumeration value="6"/>
							<whiteSpace value="collapse"/>
						</restriction>
					</simpleType>
				</element>
				<element name="BloqueInformacion" minOccurs="0">
					<complexType>
						<sequence>
							<element name="titulo">
								<simpleType>
									<restriction base="xs:string">
										<minLength value="1"/>
									</restriction>
								</simpleType>
							</element>
							<element name="texto" minOccurs="0">
								<simpleType>
									<restriction base="xs:string">
										<minLength value="1"/>
									</restriction>
								</simpleType>
							</element>
							<element name="TextoRenglones" minOccurs="0">
								<complexType>
									<sequence>
										<element name="renglon" type="string"
											maxOccurs="10"/>
									</sequence>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="SoftwareIntegrador" minOccurs="0">
					<complexType>
						<sequence>
							<element name="nombre">
								<simpleType>
									<restriction base="xs:string">
										<minLength value="1"/>
									</restriction>
								</simpleType>
							</element>
							<element name="version" minOccurs="0">
								<simpleType>
									<restriction base="xs:string">
										<minLength value="1"/>
									</restriction>
								</simpleType>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="Patron">
					<complexType>
						<sequence>
							<element name="registroPatronal">
								<simpleType>
									<restriction base="xs:string">
										<minLength value="1"/>
										<maxLength value="20"/>
										<whiteSpace value="collapse"/>
									</restriction>
								</simpleType>
							</element>
							<element name="rfc">
								<simpleType>
									<restriction base="xs:string">
										<minLength value="12"/>
										<maxLength value="13"/>
									</restriction>
								</simpleType>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="GrupoCorporativo" minOccurs="0">
					<complexType>
						<sequence>
							<element name="empresa">
								<simpleType>
									<restriction base="xs:string">
										<minLength value="1"/>
										<maxLength value="100"/>
										<whiteSpace value="collapse"/>
										<pattern value="[a-zA-Z0-9]{1,100}"/>
									</restriction>
								</simpleType>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="Empleado">
					<complexType>
						<sequence>
							<element name="nombre">
								<simpleType>
									<restriction base="xs:string">
										<minLength value="1"/>
									</restriction>
								</simpleType>
							</element>
							<element name="apellidoPaterno" minOccurs="0">
								<simpleType>
									<restriction base="xs:string">
										<minLength value="1"/>
									</restriction>
								</simpleType>
							</element>
							<element name="apellidoMaterno" minOccurs="0">
								<simpleType>
									<restriction base="xs:string">
										<minLength value="1"/>
									</restriction>
								</simpleType>
							</element>
							<element name="rfc">
								<simpleType>
									<restriction base="xs:string">
										<minLength value="12"/>
										<maxLength value="13"/>
									</restriction>
								</simpleType>
							</element>
							<element name="curp">
								<simpleType>
									<restriction base="xs:string">
										<minLength value="18"/>
										<maxLength value="18"/>
										<pattern value="[A-Z][A,E,I,O,U,X][A-Z]{2}[0-9]{2}[0-1][0-9][0-3][0-9][M,H][A-Z]{2}[B,C,D,F,G,H,J,K,L,M,N,Ñ,P,Q,R,S,T,V,W,X,Y,Z]{3}[0-9,A-Z][0-9]"/>
									</restriction>
								</simpleType>
							</element>
							<element name="numSeguridadSocial">
								<simpleType>
									<restriction base="xs:string">
										<whiteSpace value="collapse"/>
										<minLength value="1"/>
										<maxLength value="15"/>
									</restriction>
								</simpleType>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="Empleo">
					<complexType>
						<sequence>
							<element name="numEmpleado">
								<simpleType>
									<restriction base="xs:string">
										<minLength value="1"/>
										<maxLength value="15"/>
									</restriction>
								</simpleType>
							</element>
							<element name="departamento" minOccurs="0">
								<simpleType>
									<restriction base="xs:string">
										<minLength value="1"/>
										<maxLength value="100"/>
									</restriction>
								</simpleType>
							</element>
							<element name="puesto">
								<simpleType>
									<restriction base="xs:string">
										<whiteSpace value="collapse"/>
										<maxLength value="250"/>
										<minLength value="1"/>
									</restriction>
								</simpleType>
							</element>
							<element name="riesgoPuesto">
								<simpleType>
									<restriction base="xs:string">
										<enumeration value="1"/>
										<enumeration value="2"/>
										<enumeration value="3"/>
										<enumeration value="4"/>
										<enumeration value="5"/>
									</restriction>
								</simpleType>
							</element>
							<element name="fechaInicioRelLaboral">
								<simpleType>
									<restriction base="xs:date">
										<whiteSpace value="collapse"/>
									</restriction>
								</simpleType>
							</element>
							<element name="antiguedad">
								<simpleType>
									<restriction base="xs:int">
										<whiteSpace value="collapse"/>
									</restriction>
								</simpleType>
							</element>
							<element name="tipoRegimen">
								<simpleType>
									<restriction base="xs:int">
										<minInclusive value="1"/>
									</restriction>
								</simpleType>
							</element>
							<element name="tipoContrato">
								<simpleType>
									<restriction base="xs:string">
										<whiteSpace value="collapse"/>
										<minLength value="1"/>
										<maxLength value="100"/>
									</restriction>
								</simpleType>
							</element>
							<element name="tipoJornada">
								<simpleType>
									<restriction base="xs:string">
										<whiteSpace value="collapse"/>
										<minLength value="1"/>
										<maxLength value="100"/>
									</restriction>
								</simpleType>
							</element>
							<element name="periodicidadPago">
								<simpleType>
									<restriction base="xs:string">
										<minLength value="1"/>
										<maxLength value="100"/>
										<whiteSpace value="collapse"/>
									</restriction>
								</simpleType>
							</element>
							<element name="salarioBaseCotApor">
								<simpleType>
									<restriction base="xs:decimal">
										<fractionDigits value="6"/>
										<whiteSpace value="collapse"/>
									</restriction>
								</simpleType>
							</element>
							<element name="salarioDiarioIntegrado">
								<simpleType>
									<restriction base="xs:decimal">
										<fractionDigits value="6"/>
										<whiteSpace value="collapse"/>
									</restriction>
								</simpleType>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="Pago">
					<complexType>
						<sequence>
							<element name="fechaPago">
								<simpleType>
									<restriction base="xs:date">
										<whiteSpace value="collapse"/>
									</restriction>
								</simpleType>
							</element>
							<element name="fechaInicialPago">
								<simpleType>
									<restriction base="xs:date">
										<whiteSpace value="collapse"/>
									</restriction>
								</simpleType>
							</element>
							<element name="fechaFinalPago">
								<simpleType>
									<restriction base="xs:date">
										<whiteSpace value="collapse"/>
									</restriction>
								</simpleType>
							</element>
							<element name="numDiasPagados">
								<simpleType>
									<restriction base="xs:decimal">
										<fractionDigits value="6"/>
										<whiteSpace value="collapse"/>
									</restriction>
								</simpleType>
							</element>
							<element name="montoPagado">
								<simpleType>
									<restriction base="decimal">
										<fractionDigits value="6"/>
										<whiteSpace value="collapse"/>
									</restriction>
								</simpleType>
							</element>
							<element name="tipoMoneda">
								<simpleType>
									<restriction base="xs:string">
										<enumeration value="MXN"/>
										<enumeration value="USD"/>
										<enumeration value="EUR"/>
										<enumeration value="GBP"/>
										<enumeration value="CAD"/>
										<whiteSpace value="collapse"/>
									</restriction>
								</simpleType>
							</element>
							<element minOccurs="0" name="tipoCambio">
								<simpleType>
									<restriction base="xs:decimal"/>
								</simpleType>
							</element>
							<element name="metodoDePago" minOccurs="0">
								<simpleType>
									<restriction base="xs:string">
										<enumeration value="No identificado"/>
										<enumeration value="Efectivo"/>
										<enumeration value="Cheque"/>
										<enumeration value="Transferencia Electrónica"/>
										<whiteSpace value="collapse"/>
									</restriction>
								</simpleType>
							</element>
							<element name="CLABE" minOccurs="0">
								<simpleType>
									<restriction base="string">
										<pattern value="[0-9]{18}"/>
									</restriction>
								</simpleType>
							</element>
							<element name="banco" minOccurs="0">
								<simpleType>
									<restriction base="string">
										<pattern value="[0-9]{3}"/>
									</restriction>
								</simpleType>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="Percepciones">
					<complexType>
						<sequence>
							<element name="totalGravado">
								<simpleType>
									<restriction base="decimal">
										<fractionDigits value="6"/>
										<whiteSpace value="collapse"/>
									</restriction>
								</simpleType>
							</element>
							<element name="totalExento" minOccurs="1">
								<simpleType>
									<restriction base="decimal">
										<fractionDigits value="6"/>
										<whiteSpace value="collapse"/>
									</restriction>
								</simpleType>
							</element>
							<element name="Percepcion" maxOccurs="unbounded">
								<complexType>
									<sequence>
										<element name="clavePercepcion">
											<simpleType>
												<restriction base="string">
												<pattern value="[0-9]{3}"/>
												</restriction>
											</simpleType>
										</element>
										<element name="claveContable">
											<simpleType>
												<restriction base="xs:string">
												<minLength value="3"/>
												<maxLength value="15"/>
												<whiteSpace value="collapse"/>
												</restriction>
											</simpleType>
										</element>
										<element name="concepto">
											<simpleType>
												<restriction base="xs:string">
												<minLength value="1"/>
												<maxLength value="100"/>
												</restriction>
											</simpleType>
										</element>
										<element name="importeGravado">
											<simpleType>
												<restriction base="xs:decimal">
												<fractionDigits value="6"/>
												<whiteSpace value="collapse"/>
												</restriction>
											</simpleType>
										</element>
										<element name="importeExento">
											<simpleType>
												<restriction base="xs:decimal">
												<fractionDigits value="6"/>
												<whiteSpace value="collapse"/>
												</restriction>
											</simpleType>
										</element>
									</sequence>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="Deducciones"  minOccurs="0">
					<complexType>
						<sequence>
							<element name="totalGravado">
								<simpleType>
									<restriction base="decimal">
										<fractionDigits value="6"/>
										<whiteSpace value="collapse"/>
									</restriction>
								</simpleType>
							</element>
							<element name="totalExento" minOccurs="1">
								<simpleType>
									<restriction base="decimal">
										<fractionDigits value="6"/>
										<whiteSpace value="collapse"/>
									</restriction>
								</simpleType>
							</element>
							<element name="Deduccion" maxOccurs="unbounded">
								<complexType>
									<sequence>
										<element name="claveDeduccion">
											<simpleType>
												<restriction base="string">
												<pattern value="[0-9]{3}"/>
												</restriction>
											</simpleType>
										</element>
										<element name="claveContable">
											<simpleType>
												<restriction base="xs:string">
												<minLength value="3"/>
												<maxLength value="15"/>
												<whiteSpace value="collapse"/>
												</restriction>
											</simpleType>
										</element>
										<element name="concepto">
											<simpleType>
												<restriction base="xs:string">
												<minLength value="1"/>
												<maxLength value="100"/>
												</restriction>
											</simpleType>
										</element>
										<element name="importeGravado">
											<simpleType>
												<restriction base="xs:decimal">
												<fractionDigits value="6"/>
												<whiteSpace value="collapse"/>
												</restriction>
											</simpleType>
										</element>
										<element name="importeExento">
											<simpleType>
												<restriction base="xs:decimal">
												<fractionDigits value="6"/>
												<whiteSpace value="collapse"/>
												</restriction>
											</simpleType>
										</element>
									</sequence>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="Incapacidades" minOccurs="0">
					<complexType>
						<sequence>
							<element name="Incapacidad" maxOccurs="unbounded">
								<complexType>
									<sequence>
										<element name="diasIncapacidad">
											<simpleType>
												<restriction base="xs:decimal">
												<fractionDigits value="6"/>
												<minInclusive value="1"/>
												</restriction>
											</simpleType>
										</element>
										<element name="claveIncapacidad">
											<simpleType>
												<restriction base="xs:string">
												<enumeration value="1"/>
												<enumeration value="2"/>
												<enumeration value="3"/>
												</restriction>
											</simpleType>
										</element>
										<element name="descuento">
											<simpleType>
												<restriction base="decimal">
												<fractionDigits value="6"/>
												<whiteSpace value="collapse"/>
												</restriction>
											</simpleType>
										</element>
									</sequence>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="HorasExtras" minOccurs="0">
					<complexType>
						<sequence>
							<element name="Dobles" maxOccurs="1" minOccurs="0">
								<complexType>
									<sequence>
										<element name="dias">
											<simpleType>
												<restriction base="xs:int"> </restriction>
											</simpleType>
										</element>
										<element name="horasExtra">
											<simpleType>
												<restriction base="xs:int"> </restriction>
											</simpleType>
										</element>
										<element name="importePagado">
											<simpleType>
												<restriction base="decimal">
												<fractionDigits value="6"/>
												<whiteSpace value="collapse"/>
												</restriction>
											</simpleType>
										</element>
									</sequence>
								</complexType>
							</element>
							<element name="Triples" maxOccurs="1" minOccurs="0">
								<complexType>
									<sequence>
										<element name="dias">
											<simpleType>
												<restriction base="xs:int"> </restriction>
											</simpleType>
										</element>
										<element name="horasExtra">
											<simpleType>
												<restriction base="xs:int"> </restriction>
											</simpleType>
										</element>
										<element name="importePagado">
											<simpleType>
												<restriction base="decimal">
												<fractionDigits value="6"/>
												<whiteSpace value="collapse"/>
												</restriction>
											</simpleType>
										</element>
									</sequence>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
				<element name="EnviarCorreo" minOccurs="0">
					<complexType>
						<sequence>
							<element name="correo" maxOccurs="unbounded">
								<simpleType>
									<restriction base="xs:string">
										<minLength value="5"/>
										<pattern
											value="[a-zA-Z0-9]+[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
										/>
									</restriction>
								</simpleType>
							</element>
							<element name="mensajeCorreo" maxOccurs="1" minOccurs="0">
								<simpleType>
									<restriction base="string">
										<minLength value="0"/>
										<maxLength value="255"/>
									</restriction>
								</simpleType>
							</element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>
